body{
    background-color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    margin: 3px;
    padding: 4px;
}

/*header */

.logo_title{
    color: orange;
}
.nav_bar{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_pages a{
    color: rgb(56, 54, 54);
    text-decoration: none;
    margin: 4px;
}
.nav_pages a:hover{
    color: orange;
    font-size: 20px;
}
#search_box{
    border: none;
    padding:6px;
    border-radius: 10px;
    background-color: rgba(116, 140, 155,0.2);
}
#search{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 4px;
}
#search label{
    border: 1px solid rgb(189, 188, 188);
    background-color: white;
    padding: 4px;
    border-radius: 12px;
}
.search_profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_profile a{
    color:white;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    padding: 3px;
}
.hero img{
    width: 100%;
}
/* recipe card*/
.recipe{
    background-color:rgba(116, 140, 155,0.1);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 4px;
    line-height: 4px;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    row-gap: 4px;
}
#title{
    font-size: 22px;
    font-weight:600;
}
#subtitle{
    font-size: 20px;
    font-weight: 600;
}
#recipe_image{
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: url('../images/salad.png');
    background-size: cover;
}
#recipe_image p{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px;
    width: fit-content;
    font-size: 16px;
}
#view_recipe{
    background-color: rgba(32, 31, 31,0.7);
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 15px;
}

#view_recipe a{
  text-decoration: none;
  color: white;
}
#view_recipe span{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}
.recipe:hover{
    background-color: rgba(255,165,0,0.5);
}
.subscribe{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px;
}
#community_img{
    background-image: url('../images//chef_community.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 8px;
}
#join_community{
    background-color: rgba(116, 140, 155,0.2);
    padding :10px;
    border-radius: 8px;
}
#email_box{
    border: none;
    padding: 10px;
    border-radius: 2px;
    width: 70%;
    margin-top: 20px;
}
form label{
    background-color: rgba(255,165,0,0.5);
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 4px;
   cursor: pointer; 
}

#footer{
    display: flex;
    justify-content: space-evenly;
   align-items: center;
    margin-top: 10px;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 6px;
    padding:10px;
    color: white;
}