*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background:#f4f5f7;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.profile-card{
    margin:auto 20px ;
    width:900px;
    background:#fff;
    border-radius:20px;
    padding:40px;
    box-shadow:0 10px 30px rgba(0,0,0,0.05);
}
#editProfile{
    color:var(--primary-green);
    font-size:1.8rem;
    margin-bottom:30px;
    text-align:center;
}
/* Profile Image */

/* Grid Form */
.form-grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px 30px;
}

/* Full width bio */
.full-width{
    grid-column:1/3;
}

/* Label Row */
.label-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:8px;
    font-size:14px;
    color:#777;
}

.label-row span{
    font-size:13px;
    color:#4CAF50;
    font-weight:500;
}

/* Input */
.input-field{
    width:100%;
    padding:14px 16px;
    border-radius:12px;
    border:1px solid #ddd;
    font-size:15px;
    outline:none;
    transition:0.2s;
}

.input-field:focus{
    border-color:#4CAF50;
}

/* Bio */
textarea{
    resize:none;
    height:110px;
}

/* Country dropdown arrow */
select{
    appearance:none;
    background:url("data:image/svg+xml;utf8,<svg fill='gray' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 15px center;
    background-color:#fff;
}
.btn-save {
    width: max-content;
    padding: 8px 8px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
    border: 1px solid transparent;
    text-decoration: none;
    background-color: orange;
    color: white;
}

/* Responsive */
@media(max-width:900px){
    .profile-card{
        width:95%;
    }
    .form-grid{
        grid-template-columns:1fr;
    }
    .full-width{
        grid-column:1/2;
    }
}   