
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0px;
}
h1 {
    color: #333;
    text-align: center;
}
.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}
.recipe-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.recipe-card h2 {
    margin-top: 0;
    color: #555;
}
.recipe-card p {
    color: #777;
}
.recipe-card button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.recipe-card button:hover {
    background-color: #218838;
}
span {
    font-weight:500;
    color: #333;
    
}
