body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.recipe_features{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.feature{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 4px;
    padding: 8px;
    column-gap: 6px;
}
.feature #icon{
    font-size: 24px;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: rgba(242, 157, 0,0.4);
    color: white;
    padding: 4px;
}
#feature_title{
    font-size:14px;
    color: rgb(75, 74, 74);
    margin: 0;
}
#feature_value{
    font-size: 20px;
    font-weight: 600;
    color: black;
    margin: 0;
}

.recipe_info{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    column-gap: 30px;
}
#recipe_description{
    grid-area: "description";
    padding:4px;
}
#chef_image{
    background-image: url("../images//chef_community.jpg");
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 20px;
}
#chef_name{
    color: balck;
    font-weight: 500;
    text-align:end;
}
#tag_dld{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#tags{
    grid-area: "tags";
}
#tag_title{
    color: rgb(52, 51, 51);
    margin-bottom: 0;
}
#actual_tags{
    color: orange;
    margin-top: 2px;
}
#download a{
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: black;
    padding: 8px;
}
.ingredients_and_nutritions_container{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 20px;
}
.Ingredients_container{
    background-color: white;
    box-shadow: 2px 2px 3px 3px  rgba(116, 140, 155,0.1);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px;
}
.Ingredients_container h3,.nutrition_info h3{
    margin-left:40px;
    margin-bottom: 0px;
}
.ingredients_info{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    column-gap: 30px;
    margin: 0px;
    color: rgb(33, 33, 33);
}
.nutrition_info{
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(116, 140, 155,0.1);
    padding: 8px;
    display: flex;
    flex-direction: column;
}
.cooking_instructions{
    display: flex;
    flex-direction: column;
}
.Instruction{
    display: grid;
    grid-template-columns: 1fr 12fr;
    column-gap: 4px;
    background-color: rgba(116, 140, 155,0.1);
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}
.inst_number{
    padding:4px;
    color: orange;
    font-size: 22px;
    width: fit-content;
    font-weight: bold;
}

.recent_recipes{
    display: flex;
    margin: 20px 0px;
}