
.recipe_center h2{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cook{
    color: orange;
    margin: 2px;
} 
.recipe_types{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(2,1fr);
    row-gap: 0px;
}
#recipe_types_01 a,#recipe_types_02 a{
    text-decoration: none;
    color: rgb(35, 32, 32);
    padding:8px;
    border:1px solid transparent;
    border-radius: 20px;
    background-color: rgba(116, 140, 155,0.1);
    margin: 3px;
    font-size: 14px;
}
#recipe_types_01,#recipe_types_02{
    display: flex;
    justify-content: center;

}
#recipe_types_01 a:hover,#recipe_types_02 a:hover{
    background-color: black;
    color: white;
}
.recipes_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.recipe{
    background-color:rgba(116, 140, 155,0.1);
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 6px;
    margin: 4px;
    line-height: 4px;
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    row-gap: 4px;
}
#title{
    font-size: 22px;
    font-weight:600;
}
#subtitle{
    font-size: 20px;
    font-weight: 600;
}
#recipe_image{
    border: 1px solid transparent;
    border-radius: 10px;
    background-image: url('../images/salad.png');
    background-size: cover;
}
#recipe_image p{
    background-color: white;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 8px;
    width: fit-content;
    font-size: 16px;
}
#view_recipe{
    background-color: rgba(32, 31, 31,0.7);
    color: white;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 15px;
}

#view_recipe a{
  text-decoration: none;
  color: white;
}
#view_recipe span{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}
.recipe:hover{
    background-color: rgba(255,165,0,0.5);
}
.subscribe{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px;
}
#community_img{
    background-image: url('../images//chef_community.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 8px;
}
#join_community{
    background-color: rgba(116, 140, 155,0.2);
    padding :10px;
    border-radius: 8px;
}
#email_box{
    border: none;
    padding: 10px;
    border-radius: 2px;
    width: 70%;
    margin-top: 20px;
}
form label{
    background-color: rgba(255,165,0,0.5);
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 4px;
   cursor: pointer; 
}

#footer{
    display: flex;
    justify-content: space-evenly;
   align-items: center;
    margin-top: 10px;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 6px;
    padding:10px;
    color: white;
}
