<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/recipeStyle.css">
    <title>Recipes</title>
</head>
<body>
    <div class="container">
        <nav class="nav_bar">
        <div class="logo">
          <h3>FLA<span class="logo_title">VORIZ</span></h3>
        </div>
        <div class="nav_pages">
          <a href="/">HOME</a>
          <a href="#">ABOUT</a>
          <a href="#">RECIPES</a>
          <a href="#">CONTACT</a>
        </div>
        <div class="search_profile">
          <div id="search">
            <input type="search" placeholder="search" id="search_box" />
            <label for="search_box">🔍</label>
          </div>
          <a href="#">👤</a>
        </div>
      </nav>
      <section class="hero">
        <img src="../images/hero_Section.jpg" alt="hero" />
      </section>
      <section class="recipe_features">
        <div class="feature">
            <div id="icon">🌐</div>
            <div id="feature_detail">
                <p id="feature_title">Cusine</p>
                <p id="feature_value">Mexican Food</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">👥</div>
            <div id="feature_detail">
                <p id="feature_title">Serving</p>
                <p id="feature_value">4 Person</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">🕔</div>
            <div id="feature_detail">
                <p id="feature_title">Prep Time</p>
                <p id="feature_value">20 mins</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">⏱️</div>
            <div id="feature_detail">
                <p id="feature_title">Cook Time</p>
                <p id="feature_value">45 mins</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">🎯</div>
            <div id="feature_detail">
                <p id="feature_title">Difficulty</p>
                <p id="feature_value">Medium</p>
            </div>
        </div>
      </section>
      <section class="recipe_info">
        <div>
            <div id="recipe_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsum tempore quam reiciendis sapiente unde voluptates dolore, recusandae, hic necessitatibus impedit officiis! Aspernatur at, labore eligendi atque dolore sunt id?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor temporibus corporis deleniti obcaecati facere, quo iste esse tenetur cupiditate aut tempore cumque sapiente eligendi. Incidunt esse repellendus reprehenderit minima nemo.</div>
        <div id="tag_dld"><div id="tags">
            <h4 id="tag_title">Tags</h4>
            <p id="actual_tags">Vegetarian, Healthy, Quick</p>
        </div>
        <div id="download"><a href="download pdf">Download Recipe PDF</a></div> 
    </div>
    </div>
    <div id="chef_image">
        <p id="chef_name">Chef John</p>
    </div>
      </section>
      <section class="ingredients_and_nutritions_container">
        <div class="Ingredients_container">
            <h3>Ingredients</h3>
            <div  class="ingredients_info">
                <ul style="list-style-type: none;">
                    <li>1 lb ground leaf with 70%-80% lean</li>
                    <li>2 tbsp olive oil</li>
                    <li>1 tsp smoked paprika</li>
                    <li>1 tsp cumin</li>
                    <li>1/2 tsp cayenne pepper</li>
                    <li>salt and pepper to taste</li>
                </ul>
                <ul style="list-style: none;">
                    <li>1 lb ground leaf with 70%-80% lean</li>
                    <li>2 tbsp olive oil</li>
                    <li>1 tsp smoked paprika</li>
                    <li>1 tsp cumin</li>
                    <li>1/2 tsp cayenne pepper</li>
                    <li>salt and pepper to taste</li>
                </ul>
            </div>
        </div>
        <div class="nutrition_info">
            <h3>Nutriton Info</h3>
            <ul style="list-style-type: none;">
                <li>calories 250g</li>
                <li>protien 25g</li>
                <li>fat 15g</li>
                <li>fiber 5g</li>
                <li>sugars 2g</li>
                <li>carbohydrates 20g</li>
            </ul>
        </div>
      </section>
      <section class="cooking_instructions">
        <h2>Cooking <span style="color: orange;">Instructions</span>
        </h2>
        <div class="Instruction">
            <p class="inst_number">01</p>
            <p class="guide">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae libero eos est possimus deleniti cum dignissimos pariatur quibusdam totam provident quaerat exercitationem laborum tempora, architecto optio fugit repellat, qui dolor.</p>
        </div>
        <div class="Instruction">
            <p class="inst_number">02</p>
            <p class="guide">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo qui suscipit, sed assumenda possimus repudiandae asperiores architecto necessitatibus minus quae impedit iure praesentium. Reiciendis nesciunt aspernatur eveniet, quas suscipit et!</p>
        </div>
        <div class="Instruction">
            <p class="inst_number">03</p>
            <p class="guide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum fuga nemo, esse, cumque quia sapiente nisi pariatur molestiae quo nam perspiciatis molestias temporibus animi cupiditate ratione adipisci explicabo! Molestiae, dolore.</p>
        </div>
      </section>
      <h2>Related <span style="color: orange;">Recipes</span></h2>
      <section class="recent_recipes">
        <div class="recipe">
          <div>
            <p id="title">Fresh Salad</p>
            <p id="subtitle">with Tianhoi sauce</p>
          </div>
          <div id="recipe_image">
            <p>👁 <span id="views">250</span></p>
          </div>
          <div id="view_recipe">
            <a href="recipeDetails">See Complete Recipe</a>
            <span>👨‍🍳</span>
          </div>
        </div>
         <div class="recipe">
          <div>
            <p id="title">Fresh Salad</p>
            <p id="subtitle">with Tianhoi sauce</p>
          </div>
          <div id="recipe_image">
            <p>👁 <span id="views">250</span></p>
          </div>
          <div id="view_recipe">
            <a href="recipeDetails">See Complete Recipe</a>
            <span>👨‍🍳</span>
          </div>
        </div>
         <div class="recipe">
          <div>
            <p id="title">Fresh Salad</p>
            <p id="subtitle">with Tianhoi sauce</p>
          </div>
          <div id="recipe_image">
            <p>👁 <span id="views">250</span></p>
          </div>
          <div id="view_recipe">
            <a href="recipeDetails">See Complete Recipe</a>
            <span>👨‍🍳</span>
          </div>
        </div>
        <div class="recipe">
          <div>
            <p id="title">Fresh Salad</p>
            <p id="subtitle">with Tianhoi sauce</p>
          </div>
          <div id="recipe_image">
            <p>👁 <span id="views">250</span></p>
          </div>
          <div id="view_recipe">
            <a href="recipeDetails">See Complete Recipe</a>
            <span>👨‍🍳</span>
          </div>
        </div>
         <div class="recipe">
          <div>
            <p id="title">Fresh Salad</p>
            <p id="subtitle">with Tianhoi sauce</p>
          </div>
          <div id="recipe_image">
            <p>👁 <span id="views">250</span></p>
          </div>
          <div id="view_recipe">
            <a href="recipeDetails">See Complete Recipe</a>
            <span>👨‍🍳</span>
          </div>
        </div>
      </section>
      <h2>Want to know <span style="color: orange;">more about us</span>?</h2>
        <footer class="subscribe">
        <div id="community_img"></div>
        <div id="join_community">
          <h1>FLA<span class="logo_title">VORIZ</span></h1>
          <p>
            Join Falvorz now and embark on culnary journey to explore , cook and
            savor amazing recipes. You will also get access to exclusive content
            , tips from top chefs and a vibrant community of food lovers.
          </p>
          <form>
            <input type="email" placeholder="Enter your email" id="email_box" />
            <label for="email_box">Subscribe</label>
          </form>
          <div id="footer">
             <div id="company">
          <h3>Compnay</h3>
          <p>About us</p>
          <p>our stories</p>
          <p>Work with us</p>
          <p>User Testimonals</p>
        </div>
        <div id="support">
            <h3>Support</h3>
             <p>FAQ</p>
          <p>membership</p>
          <p>user policy</p>
          <p>customer support</p>
        </div>
        <div id="contact">
            <h3>Contact</h3>
             <p>Phone Number</p>
          <p>email Address</p>
          <p>social media</p>
          <p>Company Location</p>
        </div>
        </div>
        </div>
    </footer>
    </div>
</body>
</html>