<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/recipeStyle.css">
    <title>Recipes</title>
</head>
<body>
    <div class="container">
        <nav class="nav_bar">
        <div class="logo">
          <h3>FLA<span class="logo_title">VORIZ</span></h3>
        </div>
        <div class="nav_pages">
          <a href="#">HOME</a>
          <a href="#">ABOUT</a>
          <a href="#">RECIPES</a>
          <a href="#">CONTACT</a>
        </div>
        <div class="search_profile">
          <div id="search">
            <input type="search" placeholder="search" id="search_box" />
            <label for="search_box">🔍</label>
          </div>
          <a href="#">👤</a>
        </div>
      </nav>
      <section class="hero">
        <img src="../images/hero_Section.jpg" alt="hero" />
      </section>
      <section class="recipe_features">
        <div class="feature">
            <div id="icon">🌐</div>
            <div id="feature_detail">
                <p id="feature_title">Cusine</p>
                <p id="feature_value">Mexican Food</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">👥</div>
            <div id="feature_detail">
                <p id="feature_title">Serving</p>
                <p id="feature_value">4 Person</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">🕔</div>
            <div id="feature_detail">
                <p id="feature_title">Prep Time</p>
                <p id="feature_value">20 mins</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">⏱️</div>
            <div id="feature_detail">
                <p id="feature_title">Cook Time</p>
                <p id="feature_value">45 mins</p>
            </div>
        </div>
        <div class="feature">
            <div id="icon">🎯</div>
            <div id="feature_detail">
                <p id="feature_title">Difficulty</p>
                <p id="feature_value">Medium</p>
            </div>
        </div>
      </section>
      <section class="recipe_info">
        <div>
            <div id="recipe_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsum tempore quam reiciendis sapiente unde voluptates dolore, recusandae, hic necessitatibus impedit officiis! Aspernatur at, labore eligendi atque dolore sunt id?Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor temporibus corporis deleniti obcaecati facere, quo iste esse tenetur cupiditate aut tempore cumque sapiente eligendi. Incidunt esse repellendus reprehenderit minima nemo.</div>
        <div id="tag_dld"><div id="tags">
            <h4 id="tag_title">Tags</h4>
            <p id="actual_tags">Vegetarian, Healthy, Quick</p>
        </div>
        <div id="download"><a href="download pdf">Download Recipe PDF</a></div> 
    </div>
    </div>
    <div id="chef_image">
        <p id="chef_name">Chef John</p>
    </div>
      </section>
    </div>
</body>
</html>