<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Recipes</title>
</head>
<body>
    <div class="container">
        <div class="category-info">
            <h1 id="category-title">American Cusine</h1>
            <p id="category-detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores assumenda porro repudiandae, veniam possimus iure asperiores optio consequatur et quia rem harum libero natus delectus beatae expedita voluptate id? Delectus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae a alias enim quo perferendis! Dolorum cupiditate magnam tempore consequuntur culpa, delectus ea amet ullam, iusto nostrum recusandae accusamus porro unde!</p>
        </div>
        <h1>See All Recipes</h1>
        <div class="category-recipes">
             <div class="recipe">
          <div>
            <p id="title">Fresh Salad</p>
            <p id="subtitle">with Tianhoi sauce</p>
          </div>
          <div id="recipe_image">
            <p>👁 <span id="views">250</span></p>
          </div>
          <div id="view_recipe">
            <a href="recipe-details">See Complete Recipe</a>
            <span>👨‍🍳</span>
          </div>
        </div>
        </div>
    </div>
</body>
</html>