<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/wellcome_signup_login.css">
    <title>login</title>
</head>
<body>
        <div class="screen" id="login-screen">
        <h2 class="title">Login Now</h2>
        <form class="auth-form">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password">
                    <span class="eye-icon">👁️</span>
                </div>
            </div>
            <button class="btn-primary" type="submit">Login</button>
        </form>
        <p class="divider">Or login with</p>
        <button class="btn-social"><img src="fb-icon.png" alt=""> Login with Facebook</button>
        <button class="btn-social"><img src="google-icon.png" alt=""> Login with Google</button>
        <p class="footer-text">Don't have an account?</p>
        <a href="signup" class="btn-primary">Sign Up</a>
    </div>

</body>
</html>