<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TalkDM Onboarding</title>
    <link rel="stylesheet" href="../../style/wellcome_signup_login.css">
</head>
<body>
    <div class="screen" id="signup-screen">
        <h2 class="title">SignUp Now</h2>
        <form class="auth-form">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username">
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" id="email">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password">
                    <span class="eye-icon">👁️</span>
                </div>
            </div>
            <div class="input-group">
                <label for="password">Confirm Password</label>
                <div class="password-wrapper">
                    <input type="password" id="password">
                    <span class="eye-icon">👁️</span>
                </div>
            </div>
        </form>
        <button type="submit" class="btn-primary">Sign Up</button>
        <p class="footer-text">Already have an account?</p>
        <a href="login" class="btn-primary">Login</a>
        <p class="divider">Or login with</p>
        <button class="btn-social">Login with Facebook</button>
        <button class="btn-social">Login with Google</button>
    
    </div>
</body>
</html>