<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/wellcome_signup_login.css">
    <title>Home</title>
</head>
<body>
    <div class="screen" id="welcome-screen">
        <img src="../../images/logo.jpg" alt="Talk Illustration" id="logo-img">
        <h1 class="logo">Flavoriz</h1>
        <p class="tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita ipsum tempore quam reiciendis sapiente unde voluptates dolore, recusandae, hic necessitatibus impedit officiis! Aspernatur at, labore eligendi atque dolore sunt id?Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        <a href="signup" class="btn-primary">Get Started</a>
    </div>

</body>
</html>